

<div class="main-nav">
  <div class="container">
    <header class="group top-nav">
      <nav class="navbar logo-w navbar-left">
        <a href="/" class="logo"><%- config.title %></a>
      </nav>
      <div class="navigation-toggle" onClick="hideShowMenu()">
        <span class="logo"><%- config.title %></span>
      </div>
      <nav id="navbar-menu" class="navbar item-nav navbar-right">
        <ul>
          <% Object.keys(theme.menu).forEach(key => { %>
            <li><a href="<%=theme.menu[key]%>"><%=key%></a></li>
          <% }); %>
        </ul>
      </nav>
    </header>
  </div>
</div>