<div class="item-title item-title-<%= randomNum(0, 4) %>">
  <span class="timeline-title">
    <%= title %>
    <span style="color:#B5B5BC; font-size: 16px;font-weight:normal;"><%= type %></span>
  </span>
</div>
<%
function randomNum(minNum,maxNum){ 
  switch(arguments.length){ 
    case 1: 
      return parseInt(Math.random()*minNum+1,10); 
      break; 
    case 2: 
      return parseInt(Math.random()*(maxNum-minNum+1)+minNum,10); 
      break; 
    default: 
      return 0; 
      break; 
  } 
}
%>