
<div id="category" class="box-section shadow">
  <div class="timeline-box">
    <%- partial("partials/item-timeline-title", {title: page.category}) %>
    <% page.posts.each(article => { %>
      <%- partial("partials/item-timeline-post", {post: article}) %>
    <% }); %>
  </div>
</div>

<div id="paginator" class="container paginator-box">
  <%-paginator()%>
</div>
