<%
const tagsList = list_tags({ show_count: true });
%>

<% if (is_tag() === true) { %>
  <div id="tag" class="box-section shadow">
    <div class="timeline-box">
      <%- partial("partials/item-timeline-title", {title: page.tag}) %>
      <% page.posts.each(article => { %>
        <%- partial("partials/item-timeline-post", {post: article}) %>
      <% }) %>
    </div>
  </div>

  <div id="paginator" class="container paginator-box">
    <%-paginator()%>
  </div>
<% } else { %>
  <div class="box-section shadow">
    <%- tagcloud() %>
  </div>
<% } %>

