.layout-container {
  display: flex;
  flex-direction: column;
}

.layout-container .layout-header {
  min-height: 49px;
}

.layout-container .layout-content {
  min-height: calc(100vh - 109px);
}

.layout-container .layout-footer {
  min-height: 80px;
  line-height: 80px;
}

.item-year {
  position: relative;
}

a.text-year {
  font-size: 20px;
  font-weight: bold;
  font-weight: bold;
  color: #222;
}

.item-title {
  position: relative;
}

.item-title:before {
  width: 10px;
  height: 10px;
  content: ' ';
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 8px;
  left: calc(-5px - 1.5rem);
}

.item-title.item-title-0:before {
  background: #1abc9c;
}

.item-title.item-title-1:before {
  background: #3498db;
}

.item-title.item-title-2:before {
  background: #9b59b6;
}

.item-title.item-title-3:before {
  background: #e67e22;
}

.item-title.item-title-4:before {
  background: #e74c3c;
}

.timeline-title {
  font-size: 20px;
  font-weight: bold;
  color: #222;
}
